[Unit]
Description=Paclan
After=syslog.target network.target

[Service]
User=nobody
Group=nobody
ExecStart=/usr/bin/paclan
Restart=always

[Install]
WantedBy=multi-user.target
